<app-title-bar></app-title-bar>

<div class="articles-container">
  <div class="articles-main">
    <app-big-card
      Id={{mainPost.id}}
      photoCover={{mainPost.photoCover}}
      cardTitle={{mainPost.title}}
      cardDescription={{mainPost.description}}
      >
    </app-big-card>
  </div>

  <div class="articles-others">
    <app-small-card
      *ngFor="let post of posts;"
      Id={{post.id}}
      cardTitle={{post.title}}
      photoCover={{post.photoCover}}
    >
    </app-small-card>
  </div>
</div>
